.add-more-url {
  margin: 20px 0px;
  cursor: pointer;
  text-align: right;
}

.delete-more-url {
  cursor: pointer;
  margin: 20px 0px;
}
.main-button-container {
  text-align: center;
}
.main-button {
  width: 200px;
  height: 80px;
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
}
